<% function navItem(link, text, icon, active) { %>
    <li class="<%= active ? 'side-nav--active' : '' %>">
        <a href="<%= link %>">
            <svg>
                <use xlink:href="img/icons.svg#icon-<%= icon %>"></use>
            </svg>
            <%= text %>
        </a>
    </li>
<% } %>


<main class="main">
    <div class="user-view">
        <nav class="user-view__menu">
            <ul class="side-nav">
                <% navItem('#', 'Settings', 'settings', true) %>
                <% navItem('#', 'My bookings', 'briefcase') %>
                <% navItem('#', 'Billing', 'credit-card') %>
            </ul>
            <% if(user.role === 'admin') { %>
            <div class="admin-nav">
                <h5 class="admin-nav__heading">Admin</h5>
                <ul class="side-nav">
                    <% navItem('#', 'Manage tours', 'map') %>
                    <% navItem('#', 'Manage users', 'users') %>
                    <% navItem('#', 'Manage reviews', 'star') %>
                    <% navItem('#', 'Manage bookings', 'briefcase') %>
                </ul>
            </div>
            <% } %>
        </nav>
        <div class="user-view__content">
            <div class="user-view__form-container">
                <h2 class="heading-secondary ma-bt-md">Your account settings</h2>
                <form class="form form-user-data">
                    <div class="form__group">
                        <label class="form__label" for="name">Name</label>
                        <input class="form__input" id="name" type="text" value="<%= user.fullName %>"
                            required="required" />
                    </div>
                    <div class="form__group ma-bt-md">
                        <label class="form__label" for="email">Email address</label>
                        <input class="form__input" id="email" type="email" value="<%= user.email %>"
                            required="required" disabled/>
                    </div>
                    <div class="form__group form__photo-upload">
                        <img class="form__user-photo" src="/img/users/<%= user.photo %>" alt="User photo"/>
                        <input class="form__upload" type="file" accept="image/*" id="photo" name="photo"/>
                        <label for="photo">Choose new photo</label>
                    </div>
                    <div class="form__group right">
                        <button class="btn btn--small btn--green btn--save-settings">Save settings</button>
                    </div>
                </form>
            </div>
            <div class="line">&nbsp;</div>
            <div class="user-view__form-container">
                <h2 class="heading-secondary ma-bt-md">Password change</h2>
                <form class="form form-user-password">
                    <div class="form__group">
                        <label class="form__label" for="password-current">Current password</label>
                        <input class="form__input" id="password-current" type="password" placeholder="••••••••"
                            required="required" minlength="1" />
                    </div>
                    <div class="form__group">
                        <label class="form__label" for="password">New password</label>
                        <input class="form__input" id="password" type="password" placeholder="••••••••"
                            required="required" minlength="1" />
                    </div>
                    <div class="form__group ma-bt-lg">
                        <label class="form__label" for="password-confirm">Confirm password</label>
                        <input class="form__input" id="password-confirm" type="password" placeholder="••••••••"
                            required="required" minlength="1" />
                    </div>
                    <div class="form__group right">
                        <button class="btn btn--small btn--green btn--save-password">Save password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>